/target
.idea

# debug dumps
heap.txt
stack.txt
statics.txt

# .NET artifacts
bin/
obj/
# Rust entry points (don't ignore src/bin inside crates)
!crates/*/src/bin/
crates/*/target

# Junie
.junie/
.output.txt
